.mypage-header-container .logo-container h1 {
    font-size: 36px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-profile-button {
    color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.edit-profile-button:hover {
    background-color: #ff0000;
    color: #fff;
}

@media (max-width:850px) {
    .profile-image {
        width: 90px;
        height: 90px;
    }

    .mypage-header-container .logo-container h1 {
        font-size: 28px;
    }
}