body,
html body main {
    font-family: 'Inter', 'Noto Sans JP', Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

.error {
    color: #ff0000;
    white-space: nowrap;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

.header {
    height: 80px;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.header-logo {
    max-width: 375px;
}

.header-logo img {
    height: 40px;
}

.header-search {
    flex-grow: 1;
    max-width: 600px;
    margin: 0 20px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-box input::placeholder {
    color: #000;
}

.menu-items {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu-items li {
    margin: 10px 0;
    padding: 10px 0;
}

.menu-items li a,
.menu-items li button {
    text-decoration: none;
    color: #fff;
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

.menu-items li .post-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

.menu-items li .post-button:hover {
    background-color: #000;
    color: #fff;
}


@media (max-width: 1000px) {

    .header {
        height: 50px;
        padding: 5px 15px;
        padding-right: 0;
        flex-wrap: wrap;
    }

    .header-container {
        justify-content: space-between;
        align-items: center;
    }

    .header-logo {
        order: 1;
    }

    .header-logo img {
        width: 160px;
        height: auto;
    }

    .header-search {
        order: 2;
        max-width: 270px;
        flex-grow: 1;
    }

    .search-box {
        text-align: center;
        order: 2;
    }

    .search-box input {
        font-size: 14px;
        padding: 5px 10px;
    }

    .menu-items {
        z-index: 10;
        gap: 0;
        padding-right: 10px;
    }

    .header-nav {
        order: 3;
    }

    .header-nav .menu-items li {
        margin: 0;
        text-align: center;
        align-items: center;
        color: #fff;
        text-decoration: none;
        display: flex;
    }

    .logout-form {
        display: flex;
        align-items: center;
    }

    .menu-items li a,
    .menu-items li button {
        font-size: 10px;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        text-align: center;
    }
}