.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #FFF;
}

.container h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
    margin-top: 20px;
    color: #5F5F5F;
    padding-bottom: 10px;
    border-bottom: solid 1px #5F5F5F;
}

h3 {
    font-size: 24px;
    margin: 0;
    margin-top: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.image-upload-button {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 1px #5F5F5F;
    border-radius: 4px;
}

.image-upload-button label {
    padding: 10px 20px;
    border: solid 2px #FF5555;
    border-radius: 10px;
    color: #FF5555;
    background-color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 15px;
}

.categories label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    border: 2px solid #FF5555;
    border-radius: 200px;
    padding: 5px 20px;
    cursor: pointer;
    color: #FF5555;
    transition: background-color 0.3s, color 0.3s;
}

.categories input[type="checkbox"]:checked+label {
    background-color: #FF5555;
    color: #FFF;
    border-color: #FF5555;
}

.category-label span {
    font-size: 14px;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.form-controll-select {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    color: #5F5F5F;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-controll-select:focus {
    border: solid 1px #B1B1B1;
    background-color: #5F5F5F;
    color: #EAEAEA;
    outline: none;
}

.form-controll-select option {
    font-weight: bold;
}

.select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #5F5F5F;
    pointer-events: none;
}

.price-input {
    display: flex;
    align-items: center;
    position: relative;
    gap: 5px;
}

.price-input::before {
    content: '¥';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-size: 16px;
    pointer-events: none;
}

.form-group .price-input .form-control {
    padding-left: 25px;
    font-size: 24px;
    border-radius: 5px;
}

.login-button {
    margin-top: 80px;
}